<a href="https://colab.research.google.com/github/Eaag2001/IA-Sistemas2024/blob/main/EvaluacionDiagnostica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Evaluacion Diagnostica

Como se declara una lista en phyton?

In [ ]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

Que funcion se usa para conocer el numero de elementos en una lista?

In [ ]:
print(len(my_list))

3

Que resultado obtendremos al ejecutar el siguiente codigo?

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
print(a[::-1])

[5, 4, 3, 2, 1]

Cual es el resultado de la sigueinte expresion?

In [ ]:
print(3 * "5" + 2)

TypeError: can only concatenate str (not "int") to str

Que salida generara el siguiente codigo?

In [ ]:
def foo(x, y = []):
    y.append(x)
    return y

print(foo(1))
print(foo(2, []))
print(foo(3))

[1]
[2]
[1, 3]

Que resultado obtendremos al ejecutar el sigueinte codigo?

In [ ]:
def multiply_list(numbers, factor):
    result = []
    for number in numbers:
        result.append(number * factor)
    return result

my_list = [1, 2, 3]
output = multiply_list(my_list, 2)
print(output)

[2, 4, 6]

# Practica de Phyton

Clasificacion de una lista con numeros pares e impares

In [5]:
# Declaracion de variables
numeros = [10, 25, 36, 98, 77, 34, 89, 58]
pares = []
impares = []

In [6]:
# Ciclo for para recorrer la lista
for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
    else:
        impares.append(numero)

In [10]:
# Imprimir los numeros pares e impares
print("Numeros pares:", pares, "Total: " , len(pares))
print("Numeros impares:", impares, "Total: " , len(impares))

Numeros pares: [10, 36, 98, 34, 58] Total:  5
Numeros impares: [25, 77, 89] Total:  3

In [17]:
# Funcion de los numeros pares
def SumaPares(lista):
    suma = 0
    for numero in lista:
      suma += numero
    return suma

In [21]:
# Impresion de la suma
print("La suma de los numeros pares es:", SumaPares(pares))

La suma de los numeros pares es: 236